@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
  }
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
}


.slider-container {
    position: relative;
    width: 372px;
    height: 168px;
    border-radius: 12px;
    overflow: hidden;

    // hide it for mobile view
    @media (max-width: 600px) {
      display: none;
    }

    .slider-wrapper {
      display: flex;
      position: absolute;
      transition: transform 0.5s ease-in-out; /* Smooth transition */

      .ad_image_div{
        display: flex;
        width: 372px;
        height: 168px;

        .image{
            width: 100%;
            height: 100%;
            object-position: center;
            vertical-align: baseline;
            object-fit: cover;
        }

        .active {
          opacity: 1;
        }
      }


    }

    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 10px;
      left: 40%;

      .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ccc;
        background-clip:padding-box;
        margin: 0 5px;
        cursor: pointer;
    }
    .active {
        border: 1px solid #171717;
        scale: 1.8;
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
      }

    }

  }
  
  
  
  
  
  