@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{

  --font: 'Montserrat', 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
}

.adonsearchpage_main{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 28px;
    gap: 1rem;

    .post_property_ad_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 95%;
        border-radius: 8px;
        padding: 10px;
        border: 0.888889px solid rgb(215, 215, 215);
        cursor: pointer;
    
        // @media (max-width: 768px) {
        //     width: 80%;
        // }
    
        .ad_heading{
            margin: 0px 0px 42px;
            padding: 40px 24px 48px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: rgb(255, 247, 225);
            
            h2{
                font-size: 24px;
                line-height: 32px;
                font-family: Montserrat, Arial, sans-serif;
                color: rgb(0, 0, 0);
                font-weight: 400;
                color: rgb(48, 48, 48);
                text-align: center;
    
                b{
                    display: inline;
                    box-sizing: border-box;
                    font-size: 24px;
                    font-family: Montserrat, Arial, sans-serif;
                    font-weight: 600;
                    text-align: center;
                    line-height: 32px;
                    color: rgb(0, 150, 129);
                }
    
            }
        }
    
        h4{
            padding: 0px 0px 42px;
            display: block;
            box-sizing: border-box;
            font-size: 16px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 400;
            text-align: center;
            color: rgb(96, 96, 96);
        }
    
        .post_button{
            width: 90%;
            margin-bottom: 58px;
            padding: 11px;
            display: inline-block;
            box-sizing: border-box;
            border-radius: 20px;
            background: rgb(255, 199, 44) padding-box;
            font-size: 14px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 600;
            text-align: center;
            color: rgb(0, 0, 0);
        }
    
        .why_us{
            padding: 0px 10px;
            display: block;
            box-sizing: border-box;
            margin-bottom: 45px;
            
            h3{
                height: 24px;
                margin-bottom: 32px;
                display: block;
                box-sizing: border-box;
                font-size: 16px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 600;
                line-height: 24px;
                color: rgb(48, 48, 48);
    
            }
    
            ul{
                display: block;
                box-sizing: border-box;
                font-size: 16px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 400;
                color: rgb(0, 0, 0);
    
                li{
                    margin: 0px 0px 24px;
                    gap: 10px;
                    display: flex;
                    box-sizing: border-box;
                    position: relative;
                    font-size: 12px;
                    font-family: Montserrat, Arial, sans-serif;
                    font-weight: 600;
                    text-align: left;
                    color: rgb(96, 96, 96);
    
                    span{
                        font-size: 14px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    
    .sbi_ad_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 95%;
        border-radius: 8px;
        border: 0.888889px solid rgb(215, 215, 215);
        cursor: pointer;
    
        .sbi_logo{
            width: 80%;
            padding-right: 15px;
            height: auto;
            display: flex;
            justify-content: center;
            img{
                height: 105px;
                width: 105px;
                object-fit: contain;
            }
        }
    
        .loan_heading{
            width: 80%;
            display: block;
            box-sizing: border-box;
            font-size: 24px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 400;
            text-align: center;
            line-height: 32px;
            color: rgb(0, 0, 0);
        }
    
        span{
            font-size: 36px;
            font-weight: 700;
            font-family: var(--font);
            margin: 1rem 0;
        }
    
        .apply_button{
            display: block;
            width: 85%;
            margin: 2.5rem 0;
            box-sizing: border-box;
            border-radius: 20px;
            background: rgb(48, 48, 48);
            font-size: 14px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 600;
            text-align: center;
            line-height: 32px;
            color: rgb(255, 255, 255);
        }
    
        .hands_png{
            width: 100%;
            text-align: end;
            position: relative;
            overflow: hidden;
    
            img{
                object-fit: contain;
                height: 150px;
                width: 230px;
            }
        }
    }

}