@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
}


.agent_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    padding: 0 13%;

    // .recommend_heading_div{
    //     display: flex;
    //         width: 100%;
    //         position: relative;
    //         justify-content: space-between;
    //         .left_heading{
    //             display: flex;
    //             flex-direction: column;
    //             h2{
    //                 font-family: var(--font);
    //                 font-size: 1.7rem;
    //                 font-weight: 300;
    //                 margin-bottom: 2rem;
    //                 text-decoration: none;
    //             }
    //             .underline{
    //                 width: 44px;
    //                 height: 4px;
    //                 background-color: #FFC72C;
    //                 border-radius: 2px;
    //                 background-clip: padding-box;
    //                 position: relative;
    //                 bottom: 2rem;
    //             }
    //         }
    //         .right_heading{
    //             display: flex;
    //             position: relative;
    //             padding: 0rem 1rem;
    //             margin-bottom: 1.5rem;
    //             align-items: end;
    //             gap: 5px;
    //             font-size: 14px;
    //             font-family: var(--font);
    //             font-weight: 600;
    //             cursor: pointer;
    
    //             &:hover .short_icon{
    //                 transform: translateX(4px);
    //                 scale: 1.1;
    //             }
    
    //             .short_icon{
    //                 font-size: 23px;
    //                 position: relative;
    //                 top: 3px;
    //                 transition: all 0.33s ease-in-out;
    
    //             }
    //         }
    // }

    .arrow_span{
        font-size: 25px;
        position: absolute;
        display: none;
        background-color: #ffff;
        border: #d7d7d7 solid 1px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 9px 0 rgba(51, 51, 51, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateX(3px);
            cursor: pointer;
            background-color: #FFC72C;
        }
    }
    .arrow_left{
        left: 198px;
        top: 55%;
        z-index: 2;

        &:hover{
            transform: translateX(-3px);
        }
    }

    .arrow_right{
        right: 198px;
        top: 55%;
    }

    .show_arrow{
        display: flex;
    }

    .recommend_agent_cards_div{
        width: 100%;
        display: flex;
        position: relative;
        overflow-x: hidden;
        
        
        .agent_card_slider{   
            display: flex;
            width: 100%;
            padding: 1rem .5rem;
            gap: 16px;
            transition: all 0.3s ease;
    
            .card_holder_div{
                display: flex;
                width: 296px;
                height: 235px;  
    
                .main_container_agent{
                    display: flex;
                    flex-direction: column;
                    background-color: #ffff;
                    border-radius: 8px;
                    width: 296px;
                    height: 235px;
                    // margin-right: 16px;
                    border: #d7d7d7 solid 1px;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.05) 0px 2px 4px -2px;
                    transition: box-shadow 0.25s ease-out;
                
                    &:hover{
                        box-shadow: 0px 3px 9px 0 rgba(48, 48, 48, 0.2);
                    }

                    &:hover .lowerdiv .lowerdiv_contact_div .button{
                        transform: translateY(0);
                    }
                
                    &:hover .lowerdiv .lowerdiv_contact_div p{
                        display: none;
                    }
                
                    .upperdiv{
                        width: 100%;
                        height: 60px;
                        padding: 11px 10px 15px;
                        display: flex;
                        gap: .6rem;
                        align-items: center;
                        box-sizing: border-box;
                        font-size: 13px;
                        font-family: var(--font2);
                        font-weight: 400;
                        color: rgb(102, 102, 102);
                        background-color: rgb(223, 246, 249);
                        position: relative;
                
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 4px;
                            display: block;
                            box-sizing: border-box;
                        }

                        .agent_name_div{
                            display: flex;
                            flex-direction: column;
                            padding-bottom: .2rem;

                            p{
                                font-size: 12px;
                                font-family: var(--font2);
                            }

                            h6{
                                display: block;
                                box-sizing: border-box;
                                line-height: 12px;
                                margin-top: 4px;
                                font-size: 16px;
                                font-family: var(--font);
                                font-weight: 600;
                                white-space: nowrap;
                                color: rgb(51, 51, 51);
                            }
                            
                        }
                        
                        .verified_batch{
                            position: absolute;
                            right: 1rem;
                            top: 15px;
                            color: rgb(226, 43, 198);
                            font-size: 1.5rem;
                        }
                        
                    }
                
                    .lowerdiv{
                        width: 100%;
                        height: calc(100% - 60px);
                        position: relative;
                        background-color: #fff;

                        .border{
                            border-bottom: 1px solid #e1e1e1;
                        }

                        .lowerdiv_company_div{
                            display: flex;
                            padding: 12px 10px;
                            height: 80px;
                            align-items: center;
                            cursor: pointer;

                            .office_img{
                                height: 48px;
                                width: 48px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 0.888889px solid rgb(232, 232, 232);
                                border-radius: 4px;
                                margin-right: 8px;

                                img{
                                    width: 35px;
                                    height: 25px;
                                }
                            }

                            .company_info{
                                display: flex;
                                flex-direction: column;

                                h6{
                                    font-size: 13px;
                                    line-height: 16px;
                                    font-family: var(--font2);
                                    font-weight: 600;
                                    color: rgb(44, 44, 44);
                                }

                                div{
                                    display: flex;
                                    gap: 1.5rem;
                                    span{
                                        font-size: 10px;
                                        font-family: var(--font2);
                                        font-weight: 400;
                                        color: rgb(48, 48, 48);
                                        line-height: 14px;
                                    }

                                    .height{
                                        font-size: 22px;
                                        font-weight: 100;
                                        position: relative;
                                        top: 5px;
                                    }
                                }
                            }

                            

                        }

                        .lowerdiv_contact_div{
                            display: flex;
                            flex-direction: column;
                            padding: 12px 10px;

                            h6{
                                font-family: var(--font2);
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: .3rem;
                            }

                            &_p{
                                font-family: var(--font2);
                                font-weight: 400;
                                
                                .icon{
                                    font-family: var(--font2);
                                    position: relative;
                                    top: 2px;
                                }
                            }

                            .button{
                                width: 8rem;
                                text-align: center;
                                font-size: 14px;
                                cursor: pointer;
                                font-weight: 400;
                                border-radius: 15px;
                                border: none;
                                background-color: #c31f25;
                                color: #fff;
                                padding: 0px 5px;
                                margin-top: .5rem;
                                height: 32px;
                                transform: translateY(55px);
                                transition: transform 0.4s ease;
                    
                            }
                        }
                
                        
                    }
                }
            }
        }
    
        
        
    }
}
