@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
//dropdown.scss
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
}

// li, ul{
//   text-decoration: none;
//   list-style-type: none;
// }

.slide_dropdown_container {
    display: none;
    width: 100vw;
    height: calc(100vh - 72px);
    z-index: 3;

    .open{
      display: flex;
      background-color: #ffff;
    }

  .justdiv{
    display: flex;
    width: 28%;
  }  
  .justdiv2{
    display: block;
    width: 100px;
  }  

  .slide_dropdown{
    display: flex;
    height: 50%;
    min-width: 52%;
    max-width: 100%;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffff;
    gap: 1rem;
    transition: all 0.3s ease;

    .drop_left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #F4F5F7;
      padding: 2.5rem 2.5rem .5rem 1.5rem;

      .drop_left_headings{

        ul{
          li{
            height: 40px;
            color: #041533;
            font-family: var(--font);
            font-weight: var(--fontweight);
            font-size: 14px;
          }
        }
        
        
      }

      .drop_left_footer{
        p{
          font-size: 14px;
          font-family: var(--font);
          font-weight: var(--fontweight);
          color: rgb(112, 112, 112);
        }
        pre{
          font-size: 14px;
          span{
            font-size: 10px;
          }
        }
      }
    }

    .drop_right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5rem .5rem .5rem 2rem;
      min-width: 73%;
      
      
      .drop_right_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .drop_right_content_links{
          display: flex;
          flex-direction: row;
          
          .drop_right_content_links_wrapper{
            display: flex;
            flex-direction: column;
            width: 12rem;
            margin-right: 6.2rem;
            max-width: 10rem;

            p{
              font-size: 13px;
              color: #8993A4;
              margin-bottom: 1rem;
            }
            ul{
              width: 100%;
              li{
                height: 2rem;
                width: 100%;
                font-family: var(--font);
                font-size: 13px;
                font-weight: var(--fontweight);
                color: #041533;
              }
            }
          }
        }

        .drop_right_content_visual{
          display: flex;
          background-color: #a1c3ff;
          width: 210px;
          margin-right: 2rem;
          border-radius: 7px;
          height: 240px;
          overflow: hidden;

          .drop_right_content_visual_img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          
        }
      }

      .drop_right_footer{
        display: flex;
        flex-direction: row;
        font-size: 13px;
        color: rgb(112, 112, 112);
        font-family: var(--font);
        font-weight: var(--fontweight);
        pre{
          color: var(--dimcolor);
        }
      }
    }
  }

  }

.open{
  display: flex;
  width: auto;
  min-width: 100%;
}
