@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}

li{
    cursor: pointer;
}

.mainContainer{
    background-color: #151c22;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    
    .mainDiv{
        display: flex;
        width: 100%;
        padding: 3% 13% 2% 13%;
        justify-content: space-between;

        @media (max-width: 600px) {
            gap: 2rem;
            flex-direction: column;    
        }

        .linkContainer{
            display: flex;
            width: 50%;
        
            @media (max-width: 600px) {
                width: 100%;
                flex-wrap: wrap;   
                justify-content: space-between;       
            }

            div{
                margin: 0 2rem;
                display: flex;
                flex-direction: column;
                width: 10rem;
                gap: 17px;
                font-family: var(--font);
                @media (max-width: 600px) {
                    margin: 1rem 0;
                    gap: 0;

                    h3{
                        margin-bottom: 5px;
                    }

                    li{
                        padding-top: 10px;
                        font-size: 15px;
                    }

                }
            }
        }

        .contactContainer{
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 40%;

            @media (max-width: 600px) {
                width: 100%;    
            }
            
            .contactus{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 5px;

                p{
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .socialdiv{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 5px;

                .socialicons{
                    display: flex;
                    gap: 1rem;
                    font-size: 21px;
                }

                @media (max-width: 600px) {
                    margin-bottom: 2rem;
                    h3{
                        display: none;
                    }
                    
                    .socialicons{
                        gap: 2rem;
                    }
                }
            }

            .downloaddiv{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 5px;

                .downloadicon{
                    height: 2.7rem;
                    margin-right: .5rem;
                }

                p{
                    font-size: 10px;
                    color: grey;
                    width: 100%;

                    pre{
                        display: inline;
                        color: rgb(91, 91, 216);
                    }
                }
            }

            @media (max-width: 600px) {
                .copyrightDiv{
                    font-size: 12px;

                }    
            }

        }
        
    }

}  
 

// --- RESPONSIVENESS ---

/* Tablet Layout (769px to 1024px) */
@media (max-width: 1024px) {
    .mainContainer {
        .mainDiv {
            padding: 3% 5% 2% 5%; /* Reduced horizontal padding */
        }
        .linkContainer {
            width: 55%; 
            div {
                margin: 0 0.8rem;
                width: 8rem; /* Shrink column width to fit better */
            }
        }
        .contactContainer {
            width: 40%;
        }
    }
}

