@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}


.locality_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    padding: 0 13%;

    @media (max-width: 1200px) {
        padding: 0 5%;
    }
    @media (max-width: 768px) {
        padding: 0 2%; 
        margin: 0;
    }

    .arrow_span{
        font-size: 25px;
        position: absolute;
        display: none;
        background-color: #ffff;
        border: #d7d7d7 solid 1px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 9px 0 rgba(51, 51, 51, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateX(3px);
            cursor: pointer;
            background-color: #FFC72C;
        }
    }
    .arrow_left{
        left: 198px;
        top: 55%;
        z-index: 2;

        &:hover{
            transform: translateX(-3px);
        }
    }

    .arrow_right{
        right: 198px;
        top: 55%;
    }

    .show_arrow{
        display: flex;
        @media (max-width: 768px) {
            display: none;
        }
    }

    .recommend_locality_cards_div{
        width: 100%;
        display: flex;
        position: relative;
        overflow-x: hidden;

        @media (max-width: 600px) {
                overflow-x: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        
        
        .locality_card_slider{   
            display: flex;
            width: 100%;
            padding: 1rem .5rem;
            gap: 16px;
            transition: all 0.3s ease;
    
            .card_holder_div{
                display: flex;
                width: 296px;
                height: 260px; 
                
                
    
                .main_container_locality{
                    display: flex;
                    flex-direction: column;
                    background-color: #ffff;
                    border-radius: 8px;
                    width: 296px;
                    height: 260px;
                    border: #d7d7d7 solid 1px;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.05) 0px 2px 4px -2px;
                    transition: box-shadow 0.25s ease-out;

                    @media (max-width: 600px) {
                        height: 250px;   
                        width: 240px;
                    }
                
                    &:hover{
                        box-shadow: 0px 3px 9px 0 rgba(48, 48, 48, 0.2);
                    }
                
                    .upperdiv{
                        width: 100%;
                        height: 90px;
                        padding: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        box-sizing: border-box;
                        font-size: 13px;
                        font-family: Arial, "sans-serif";
                        font-weight: 400;
                        color: rgb(102, 102, 102);
                        border-bottom: 2px solid #e1e1e1;

                        @media (max-width: 600px) {
                            justify-content: flex-start;
                            gap: .8rem;
                            padding: 12px 10px;
                            height: auto;
                        }
                
                        img{
                            width: 56px;
                            height: 56px;
                            border-radius: 8px;
                            display: block;
                            box-sizing: border-box;
                            font-size: 13px;
                            font-family: Arial, "sans-serif";
                            font-weight: 400;
                            line-height: 22px;
                            color: rgb(102, 102, 102);
                        }

                        .location_name_div{
                            display: flex;
                            flex-direction: column;
                            gap: .3rem;

                            h6{
                                width: 200.222px;
                                height: 22px;
                                display: block;
                                box-sizing: border-box;
                                font-size: 16px;
                                font-family: var(--font);
                                font-weight: 700;
                                white-space: nowrap;
                                line-height: 22px;
                                color: rgb(51, 51, 51);

                                @media (max-width: 600px) {
                                    font-size: 14px;
                                    width: auto;
                                }
                            }
                            .rating{
                                display: flex;
                                width: 50px;
                                padding: 2px 0px 2px 5px;
                                gap: 2px;
                                border-radius: 4px;
                                background: rgb(255, 237, 202);
                                color: rgb(51, 51, 51);
                                font-size: 12px;
                                font-family: Arial, "sans-serif";
                                font-weight: 400;

                                .star_icon{
                                    color: #FFC72C;
                                    font-size: 15px;
                                    position: relative;
                                    bottom: 1px;
                                }
                            }

                        }
                        
                    }
                
                    .lowerdiv{
                        width: 100%;
                        height: calc(100% - 90px);
                        padding: 5px 15px;
                        position: relative;
                        background-color: #fff;

                        

                        .border{
                            border-top: 1px solid #e1e1e1;
                            border-bottom: 1px solid #e1e1e1;
                        }

                        .lowerdiv_content{
                            display: flex;
                            padding: 8px 0;
                            justify-content: space-between;
                            line-height: 18px;
                            align-items: center;
                            cursor: pointer;
                            h6{
                                font-size: 14px;
                                font-family: var(--font);
                                font-weight: 600;
                                color: rgb(44, 44, 44);
                            }

                            p{
                                font-size: 12px;
                                font-weight: 400;
                                color: rgb(102, 102, 102);
                            }

                            span{
                                color: black;

                            }

                            &:hover h6, &:hover p, &:hover span{
                                text-decoration: underline;
                                color: #5F449B;
                            }

                            @media (max-width: 600px) {
                                padding: 7px 0;
                            h6{
                                font-size: 12.5px;
                            }
                            p{
                                font-size: 11px;
                            }
                        }
                        }
                
                        
                    }
                }
            }
        }
    
        
        
    }
}


