@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');

//property.scss

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root{
  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}


.details_div{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 7px;

      .details_wrapper{
        display: flex;
        width: 100%;

        &_h5{
          width: 170px;
          height: 22px;
          display: block;
          box-sizing: border-box;
          font-size: 16px;
          font-family: var(--font);
          font-weight: 400;
          text-align: left;
          line-height: 20px;
          color: rgb(48, 48, 48);
        }
        &_h4{
          height: 22px;
          padding: 0px 0px 0px 24px;
          display: block;
          box-sizing: border-box;
          font-size: 16px;
          font-family: var(--font);
          font-weight: 600;
          text-align: left;
          line-height: 22px;
          color: rgb(48, 48, 48);
        }
        h6{
          margin-top: 1rem;
          margin-bottom: .7rem;
          display: block;
          box-sizing: border-box;
          font-size: 14px;
          font-family: Montserrat, Arial, sans-serif;
          font-weight: 400;
          line-height: 20px;
          color: rgb(96, 96, 96);

          button{
            border: none;
            cursor: pointer;
            background-color: transparent;
            color: rgb(71, 71, 71);
            font-size: 12px;
            margin-left: .7rem;
            text-decoration: underline;
          }
        }

      }
}

.open_details_button{
    cursor: pointer;
    height: 35px;
    width: 8em;
    display: flex;
    gap: 2px;
    text-decoration: underline;
    align-items: center;
    background: rgb(255, 255, 255) padding-box;
    font-size: 14px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
    color: rgb(216, 35, 42);
}

.extra-details-container {
    max-height: 0; 
    opacity: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in; 
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 7px;
}

.extra-details-container.is-expanded {
    max-height: 500px; 
    opacity: 1; 
    gap: 7px;
    margin-top: 10px;
}
.details_div {
    display: flex;
    flex-wrap: wrap;
    .extra-detail {
        width: 50%; 

    }
}

@media (max-width: 768px) {
    .details_div{
        gap: 7px;

        .details_wrapper{

        h5{
            width: 100px;
            height: 22px;
            font-size: 14px;
            line-height: 20px;
        }
        h4{
            height: 20px;
            padding: 0px 0px 0px 20px;
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;

            white-space: nowrap;       
            overflow: hidden;          
            text-overflow: ellipsis;
        }
        h6{
            margin-top: .5rem;
            margin-bottom: .7rem;
            width: 100%;
            font-size: 12px;
            font-weight: 500;
        }

        }

        .extra-detail {
            width: 100%; 
            h5{
            width: 100px;
            height: auto;
            flex-wrap: wrap;
            font-size: 14px;
            line-height: 20px;
            }
            h4{
            height: 20px;
            padding: 0px 0px 0px 20px;
            font-size: 15px;
            line-height: 22px;

            white-space: nowrap;       
            overflow: hidden;          
            text-overflow: ellipsis;
            }
            h6{
            margin-top: .5rem;
            margin-bottom: .7rem;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            }
        }
    }
}