@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{

  --font: 'Montserrat', 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
}

.main_property_image_page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;

  .upperdiv{
    display: flex;
    padding: 1rem 10rem 0 10rem;
    justify-content: space-between;

    .heading_count{
      h3{
        font-size: 22px;
        font-style: italic;
      }
      span{
        position: relative;
        top: 10px;
      }
    }

    .cross_icon{
      font-size: 25px;
      font-weight: 900;
      cursor: pointer;
    }
  }

  .main_property_image_div_container{
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    .arrow_span{
        font-size: 25px;
        position: absolute;
        display: none;
        background-color: #ffff;
        border: #d7d7d7 solid 1px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 9px 0 rgba(51, 51, 51, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateX(3px);
            cursor: pointer;
            background-color: #FFC72C;
        }
    }
    .arrow_left{
        left: 198px;
        top: 55%;
        z-index: 2;

        &:hover{
            transform: translateX(-3px);
        }
    }

    .arrow_right{
        right: 198px;
        top: 55%;
    }

    .show_arrow{
        display: flex;
    }

    .property_image_div{
      display: flex;
      width: 100%;
      padding: 1rem 0;
      transition: all 0.3s ease;
      
      .property_image_holder{
        display: flex;
        width: 100vw;

        .property_image{
          display: flex;
          justify-content: center;
          width: 100vw;

          img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}

.open{
    display: flex;
    flex-direction: column;
}

//---------------------------------------Responsive Design---------------------------->

@media (max-width: 768px) {
  .main_property_image_page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: black;

  .upperdiv{
    display: flex;
    position: relative;
    padding: 1rem .5rem 0 .5rem;
    justify-content: space-between;
    color: #efefef;

    .heading_count{
      h3{
        font-size: 16px;
        font-style: italic;
        font-family: var(--font);
        margin-bottom: .7rem;
      }
      span{
        display: none;
      }
    }

    .cross_icon{
      margin-right: .8rem;
      font-weight: 600;
    }
  }

  .main_property_image_div_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;

    .show_arrow{
        display: none;
    }

    .property_image_div{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 0;
      padding-bottom: 5rem;
      gap: 2px;

      
      .property_image_holder{
        display: flex;
        width: 100vw;
        height: auto;

        .property_image{
          display: flex;
          justify-content: center;
          width: 100vw;

          img{
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}
}