@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

.main_container{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 10px;
    width: 296px;
    height: 296px;
    // margin-right: 16px;
    border: #d7d7d7 solid 1px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.05) 0px 2px 4px -2px;
    transition: box-shadow 0.25s ease-out;

    &:hover{
        box-shadow: 0px 3px 9px 0 rgba(48, 48, 48, 0.2);
    }

    &:hover .upperdiv img{
        transform: scale(1.1);
        transition: transform 0.35s ease-in;
    }

    &:hover .lowerdiv .button{
        transform: translateY(0);
    }

    &:hover .lowerdiv .card_prop_stage{
        display: none;
    }

    @media (max-width: 600px) {
        height: 250px;
        
    }
    
    .upperdiv{
        width: 100%;
        height: 156px;
        overflow: hidden;
        position: relative;
        
        margin: 0px;
        padding: 0px;
        border: 0px;
        @media (max-width: 600px) {
            height: 130px;
            
        }

        img{
            width: 100%;
            height: 100%;
            object-position: center;
            vertical-align: baseline;
            object-fit: cover;
            transition: all 0.35s ease-in;
        }

        span{
            display: flex;
            align-items: center;
            gap: 3px;
            width: auto;
            height: 24px;
            padding: 0px 6px;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            background-color: #303030;
            position: absolute;
            left: 8px;
            bottom: 12px;
            border-radius: 4px;
            background-clip: padding-box;

        }
    }

    .lowerdiv{
        width: 100%;
        height: calc(100% - 156px);
        padding: 12px 16px;
        position: relative;
        background-color: #fff;

        @media (max-width: 600px) {
                padding: 2px 14px;
            }

        h5{
            color: #303030;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 2px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 600px) {
                font-size: 12px;
            }
        }

        .price{
            color: #303030;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            padding-bottom: 8px;
            width: 100%;
            display: flex;
            gap: 11px;

            @media (max-width: 600px) {
                font-size: 17px;
            }

            .price_span{
                border-right: 1px solid #4a4a4a;
                padding-right: 10px;
            }
        }
        .card_prop_location{
            padding-bottom: 4px;
        }

        p{
            color: #606060;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 20px;

            @media (max-width: 600px) {
                font-size: 13px;
                line-height: 16px;
            }
        }

        .button{
            width: auto;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            font-weight: 400;
            border-radius: 16px;
            border: none;
            background-color: #c31f25;
            color: #fff;
            padding: 0px 17px;
            margin-top: .2rem;
            height: 32px;
            transform: translateY(50px);
            transition: transform 0.4s ease;

        }

        
    }
}