@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
*::before,
*::after {
    box-sizing: border-box; /* IMPORTANT FIX */
}
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}


.recommend_property_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    padding: 0 13%;

    @media (max-width: 1200px) {
        padding: 0 5%;
    }
    @media (max-width: 768px) {
        padding: 0 2%; 
        margin: 0;
    }

    .recommend_property_cards_div{
        width: 100%;
        display: flex;
        position: relative;
        overflow-x: hidden;

        @media (max-width: 600px) {
            overflow-x: scroll;
            height: 290px;
            overflow-y: hidden;

            &::-webkit-scrollbar{
                display: none;
            }
        }
        
        .recommend_property_cards_div_slider{
            
            display: flex;
            width: 100%;
            padding: 1rem .5rem;
            gap: 17px;
            transition: all 0.3s ease;
            
            

            .card_holder_div{
                display: flex;
                width: 296px;
                height: 296px;  

                @media (max-width: 550px) {
                    width: 240px;
                }

            }
        }
        
    }


    .arrow_span{
        font-size: 25px;
        position: absolute;
        display: none;
        background-color: #ffff;
        border: #d7d7d7 solid 1px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 9px 0 rgba(51, 51, 51, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateX(3px);
            cursor: pointer;
            background-color: #FFC72C;
        }

        

        
    }
    .arrow_left{
        left: 198px;
        top: 55%;
        z-index: 2;

        &:hover{
            transform: translateX(-3px);
        }

        @media (max-width: 1200px) {
            left: 3%;
        }
    }

    .arrow_right{
        right: 198px;
        top: 55%;
        @media (max-width: 1200px) {
            right: 3%;
        }
    }

    .show_arrow{
        display: flex;

        @media (max-width: 600px) {
            display: none;
        }
    }
    
}