@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}

.search_prop_card_main_container{
    display: flex;
    width: 62vw;
    height: auto;
    border-radius: 15px;
    padding: .9rem;
    margin-bottom: 2rem;

    border: 0.888889px solid rgb(215, 215, 215);
    border-radius: 8px;
    background: rgb(255, 255, 255) padding-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 4px 0px;
    font-family: Montserrat, Arial, sans-serif;

    .image_container{
        height: 315px;
        width: 256px;
        overflow: hidden;
        border-radius: 9px;
        position: relative;
        display: flex;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .property_info_container{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 1rem;

        .tag_and_support{
            display: flex;
            justify-content: space-between;

            .zero_brokrage_tag{
                display: flex;
                font-size: 10px;
                border: 1px solid wheat;
                border-radius: 3px;
                padding: 0 4px;
                color: grey;
                height: auto;
                max-height: 15px;
                
                .tag_icon{
                    font-size: 14px;
                    margin-right: 2px;
                }
            }

            .support_icons{
                color: grey;
                align-items: baseline;
                font-size: 23px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 400;
            }
        }
        .responsiv_price{
            display: none;
        }

        .prop_heading{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            font-family: var(--font);
            margin-bottom: 1.8rem;

            
            h2{
                font-size: 16px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 600;
                white-space: nowrap;
                line-height: 20px;
                color: rgb(48, 48, 48);
            }
            h5{
                display: inline;
                box-sizing: border-box;
                font-size: 14px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 500;
                white-space: nowrap;
                line-height: 20px;
                color: rgb(48, 48, 48);
            }
        }

        .prop_details{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto); 
            gap: 1.3rem; 
            border-radius: 10px;
            padding: .7rem 0;
            margin-bottom: 2rem;

            // border: 0.888889px solid rgb(232, 232, 232);
            border-radius: 8px;
            background: padding-box;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 400;

            .prop_details_item{
                display: flex;
                flex-direction: column;
                gap: .2rem;
                padding: 0 8px 0 16px;
                // margin-bottom: 1.3rem;

                p{
                    width: 135.917px;
                    height: 16px;
                    display: block;
                    box-sizing: border-box;
                    font-size: 10px;
                    font-family: Montserrat, Arial, sans-serif;
                    font-weight: 400;
                    white-space: nowrap;
                    line-height: 16px;
                    color: rgb(96, 96, 96);
                }
                h6{
                    width: 135.917px;
                    height: 16px;
                    display: block;
                    box-sizing: border-box;
                    font-size: 12px;
                    font-family: Montserrat, Arial, sans-serif;
                    font-weight: 500;
                    white-space: nowrap;
                    line-height: 16px;
                    color: rgb(48, 48, 48);
                }
            }

            .leftborder{
                border-left: 1px solid rgba(65, 65, 65, 0.199);
                
            }
        }

        .prop_description{
            font-size: 12px;
            font-family: var(--font);
            font-weight: 400;

            button{
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: rgb(71, 71, 71);
                font-size: 12px;
                margin-left: 1rem;
                text-decoration: underline;
            }
        }
    }

    .action_buttons_container{
        display: flex;
        flex-direction: column;
        padding: .8rem 1rem;
        align-items: center;
        justify-content: space-between;
        margin-left: 2.4rem;

        .prop_price{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: var(--font);
            gap: 3px;

            h3{
                font-weight: 520;
            }
            p{
                font-size: 12px;
                color: rgb(72, 72, 72);
            }
        }

        .action_buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;

            .callback_button{
                cursor: pointer;
                width: 162px;
                height: 32px;
                padding: 0px 12px;
                border: 0.888889px solid rgb(216, 35, 42);
                display: inline-block;
                box-sizing: border-box;
                border-radius: 20px;
                background: rgb(255, 255, 255) padding-box;
                font-size: 14px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 500;
                text-align: center;
                line-height: 32px;
                color: rgb(216, 35, 42);
            }
            .getinfo_button{
                cursor: pointer;
                width: 162px;
                height: 32px;
                margin: 12px 0px 0px;
                padding: 0px 12px;
                border: 0.888889px solid rgb(216, 35, 42);
                display: inline-block;
                box-sizing: border-box;
                border-radius: 20px;
                background: rgb(216, 35, 42) padding-box;
                font-size: 14px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 500;
                text-align: center;
                line-height: 32px;
                color: rgb(255, 255, 255);
            }
            p{
                width: 94.5972px;
                height: 14.2222px;
                margin: 16px 0px 0px;
                display: inline-block;
                box-sizing: border-box;
                font-size: 12px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                color: rgb(48, 48, 48);
                text-decoration: underline solid rgb(48, 48, 48);
                cursor: pointer;
            }
        }

        .prop_builder{
            margin: 24px 0px 0px;
            padding: 24px 0px 0px;
            display: block;
            box-sizing: border-box;
            position: relative;
            border-top: 1px solid rgba(65, 65, 65, 0.199);
            
            h6{
                width: 162px;
                height: 16px;
                display: block;
                box-sizing: border-box;
                font-size: 12px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;
                line-height: 16px;
                color: rgb(48, 48, 48);
            }
            p{
                width: 162px;
                height: 16px;
                padding: 2px 0px 0px;
                display: block;
                box-sizing: border-box;
                font-size: 10px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 400;
                text-align: left;
                white-space: nowrap;
                line-height: 14px;
                color: rgb(96, 96, 96);
            }
            p{
                width: 94.5972px;
                height: 14.2222px;
                margin: 16px 0px 0px;
                display: inline-block;
                box-sizing: border-box;
                font-size: 12px;
                font-family: Montserrat, Arial, sans-serif;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                color: rgb(48, 48, 48);
                text-decoration: underline solid rgb(48, 48, 48);
                cursor: pointer;
            }
        }
    }
}

//------------------------RESPONSIVE--------------------------//

@media (max-width: 768px){
    .search_prop_card_main_container{
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;


        .image_container{
            width: 100%;
            height: 30%;
            height: 140px;
            justify-content: center;
        }
        .property_info_container{
            width: 100%;
            margin-top: 10px;
            margin-left: 0;
            
            .responsiv_price{
                display: block;
                font-size: 16px;
                font-family: var(--font2);
                font-weight: 600;
                margin-bottom: .9rem;
            }
            .prop_heading{
                overflow: hidden;
                margin-bottom: .9rem;
                gap: 0;


                h2{
                    font-size: 14px;
                    white-space: nowrap;       
                    overflow: hidden;          
                    text-overflow: ellipsis;
                }
            }

            .prop_details{
                gap: .3rem;
                padding: 0;

                .prop_details_item{
                    padding: 0 15px 0 6px;
                    margin-bottom: 4px;
                    p,h6{
                        width: 90px;
                    }
                }
            }

        }
        .action_buttons_container{
            display: none;
        }
    }
}



