@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
*::before,
*::after {
    box-sizing: border-box; /* IMPORTANT FIX */
}
:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}

.recommend_heading_div{
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-between;
        height: 2.8rem;
        
        @media (max-width: 768px) {
            align-items: flex-end;
            padding: 0 .4rem;
            
        }
        .left_heading{
            display: flex;
            flex-direction: column;
            h2{
                font-family: var(--font);
                font-size: 1.7rem;
                font-weight: 300;
                text-decoration: none;

                @media (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
            .underline{
                width: 44px;
                height: 4px;
                background-color: #FFC72C;
                border-radius: 2px;
                background-clip: padding-box;
                position: relative;

                @media (max-width: 768px) {
                    height: 2px;
                }
            }
        }
        .right_heading{
            display: flex;
            position: relative;
            padding: 0rem 1rem;
            align-items: end;
            gap: 5px;
            font-size: 14px;
            font-family: var(--font);
            font-weight: 600;
            cursor: pointer;

            &:hover .short_icon{
                transform: translateX(4px);
                scale: 1.1;
            }

            @media (max-width: 768px) {
                font-size: 12px;
                padding: 0;
            }

            .short_icon{
                font-size: 23px;
                position: relative;
                top: 3px;
                transition: all 0.33s ease-in-out;

            }
        }
    }

.topBanner{
    width: auto;
    overflow-x: hidden;
    display: flex;
    margin: 0;
    background-color: bisque;
    height: 340px;
    position: relative;

    @media (max-width: 1200px) {
        height: 280px;
    }
    // Media Query for Mobile Devices
    @media (max-width: 768px) {
        height: 250px;
    }
    // Media Query for very small devices
    @media (max-width: 480px) {
        height: 250px;
    }

    .banner_link_wrapper{
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;

        img{
            align-self: center;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.4s ease;
    
        }
        &:hover img{
            transform: scale(1.05);
        }
    }


}

.home_mid_content{
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0 13.5%;
    margin-top: 4rem;
    gap: 1.8rem;

    @media (max-width: 1200px) {
        padding: 0 5%; // Reduced horizontal padding
        margin-top: 3rem;
        gap: 1rem;
    }

    // Media Query for Mobile Devices
    @media (max-width: 768px) {
        flex-direction: column; // Stack elements vertically
        align-items: center; // Center items
        padding: 0 5%;
        margin-top: 0rem;
    }

    .tagline{
        display: flex;
        align-items: center;
        justify-content: center;
    
        img{
            height: 200px;
            mix-blend-mode: color-burn;
    
        }
    }
}


.appoint_advisor_section{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 13.5%;
    margin: 2rem 0;
    position: relative;

    @media (max-width: 1200px) {
        padding: 0 5%;
        margin: 1.5rem 0;
    }
    @media (max-width: 768px) {
        padding: 0 5%;
        margin: 1rem 0;
    }

    .advisor_div{
        display: flex;
        width: 100%;
        height: 65vh;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
        
        @media (max-width: 1200px) {
            height: 45vh;
            
        }
        @media (max-width: 768px) {
            height: 26vh;
            border-radius: 10px;
        }
        
        img{
            background-color: #faf693;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.4s ease;
        }
        
        &:hover img{
            transform: scale(1.01);
        }

        
    }
}

.sell_property_section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
    padding: 0 12.65% 0 13.35%;
    margin: 2rem 0;
    position: relative;

    @media (max-width: 1200px) {
        padding: 0 5%;
        height: 140px;
        margin: 1.5rem 0;
    }
    @media (max-width: 768px) {
        padding: 0 5%;
        height: 120px;
        margin: 1rem 0;
    }
    
    .sell_image_container{
        height: 100%;
        width: 100%;
        border-radius: 16px;
        cursor: pointer;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            border: 1px solid #e1e1e1;
            border-radius: 24px;

            @media (max-width: 768px) {
                border-radius: 10px;
                object-position: -98px center;
            }
        }
    }

    .sell_action_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        padding: 2rem;

        @media (max-width: 768px) {
            gap: .5rem;
            padding: 1.5rem 2rem;
        }

        h4{
            font-family: var(--font);
            font-size: 20px;
            font-weight: 400;

            @media (max-width: 768px) {
                font-size: 16px;
                padding: 0 1rem;
                text-align: center;
                font-family: var(--heading-font);
            }
            @media (max-width: 480px) {
                font-size: 14px;
            }
        }

        button{
            width: 280px;
            height: 40px;
            padding: 12px 50px;
            border: 0.888889px solid rgb(94, 35, 220);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: Rubik, Helvetica, sans-serif;
            font-weight: 500;
            line-height: 20px;
            color: rgb(94, 35, 220);
            cursor: pointer;

            @media (max-width: 768px) {
                width: 160px;
                height: 32px;
                font-size: 14px;
                padding: 8px 0;
            }

        }
    }
    
}






