@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');

//search.scss

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root{

  --font: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
  --font2: 'Montserrat', Arial, sans-serif;
  --fontweight: 500;
  --dimcolor: #373737dc;
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
}

.searchpage{
    width: 100%;
    height: 100vh;
}
.mainnavbar_container_wrapper_home{
    display: flex;
    flex-direction: column;
    height: 72px;
    min-width: 100%;
    width: 100%;
    background-color: #FFFFFF;
    color: #303030;
    z-index: 1000;

    @media (max-width: 768px) {
        height: 50px;

        .navbar{
            padding-top: .5rem;
        }
    } 
}

.filterSearch_component{
    position: sticky;
    top: 0;
    z-index: 900;
}

.resultPageContainer{
    display: flex;
    padding: 0 10%;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
        padding: 0;
        flex-direction: column;
    }
    
    .searchedProperties_container{
        @media (max-width: 768px) {
            padding: 0 6%;
        }

        &_heading{
            height: 80px;
            padding: 24px 0px;
            display: block;
            box-sizing: border-box;
            font-size: 22px;
            font-family: Montserrat, Arial, sans-serif;
            font-weight: 400;
            color: rgb(0, 0, 0);

            @media (max-width: 768px){
                font-size: 20px;
                height: auto;
                padding: 25px 0 15px 0;
                margin-bottom: 0;
            }
        }
    }

    .sideSection_container{
        display: flex;
        flex-direction: column;

        &_adonsearchpage_container{
            display: flex;
            order: 1;
        }
        
        &_prop_card_container{
            margin: 30px 0 0 28px;
            display: flex;
            order: 2;

            &_slider{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

        }
    }
}

.appoint_advisor_section{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 13.5%;
    margin: 2rem 0;
    position: relative;

    @media (max-width: 1200px) {
        padding: 0 5%;
        margin: 1.5rem 0;
    }
    @media (max-width: 768px) {
        padding: 0 5%;
        margin: 1rem 0;
    }

    .advisor_div{
        display: flex;
        width: 100%;
        height: 65vh;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
        
        @media (max-width: 1200px) {
            height: 45vh;
            
        }
        @media (max-width: 768px) {
            height: 26vh;
            border-radius: 10px;
        }
        
        img{
            background-color: #faf693;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.4s ease;
        }
        
        &:hover img{
            transform: scale(1.01);
        }

        
    }
}


.open_flex{
    display: flex;
}
.open_block{
    display: block;
}

.only_mobile{
    display: none;
}
.only_desktop{
    display: flex;
}

@media (max-width: 768px) {

.resultPageContainer{

    .sideSection_container{
        display: flex;
        flex-direction: column;
        
        &_prop_card_container{
            margin: 5px 0;
            padding: 0 3.3%;
            display: flex;
            overflow-x: scroll;
            order: 1;

            &::-webkit-scrollbar{
                display: none;
            }

            &_slider{
                padding: 10px 0;
                display: flex;
                flex-direction: row;

                .search_page_card_holder{
                    display: flex;
                    width: 240px;
                }
            }

        }
        &_adonsearchpage_container{
            display: none;
            order: 2;
        }
        
    }
}
.only_mobile{
    display: flex;
}
.only_desktop{
    display: none;
}
}

  